.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: teal;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:20px;
}

.tasks__body{
    flex: 1;
    padding: 20px;
}

.tasks__task{
    margin-top: 20px;
}

.tasks__taskTitle{
    margin: 0 10px 0 10px;
}

.tasks__body > {
     margin-top: 5%;
}